@model Web.Models.BindingModels.TweetBindingModel
@{
    ViewBag.Title = "CreateTweet";
}
<h2>Compose new Tweet</h2>
@using (Html.BeginForm("CreateTweet", "Tweets", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Content, "", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.Content,"", new { @class = "text-danger" })
            @Html.TextAreaFor(m => m.Content, new {@class = "form-control", @cols = 80, @rows = 5 })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Tweet" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 